#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  padding: 0.5rem 0 0 0.5rem;

  img {
    height: 100%;
    position: relative;
    z-index: 1;
  }
}

main {
  padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
  line-height: 125%;
}

.card {
  position: relative;

  .disc {
    width: 100%;
  }

  .albumArt {
    width: 91%;
    position: absolute;
    top: 4.2%;
    left: 50%;
    translate: -50%;
  }

  span {
    position: absolute;
    bottom: 0.65rem;
    right: 0.75rem;
    color: black;
    font-size: 2rem;
    cursor: pointer;
  }
}

/* .card:nth-of-type(2) {
  bottom: 200px;
}

.card:nth-of-type(3) {
  bottom: 400px;
}
.card:nth-of-type(4) {
  bottom: 600px;
}
.card:nth-of-type(5) {
  bottom: 800px;
}
.card:nth-of-type(6) {
  bottom: 1000px;
} */

.player {
  height: 100%;
  min-height: 90vh;

  .details {
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    border-radius: 24px;
  }
  h3 {
    opacity: 0.8;
  }
  h4,
  h5 {
    opacity: 0.6;
  }

  .mainDetails {
    margin-bottom: 0.5rem;
  }
}

.track {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto auto;
  border-top: 1px solid grey;

  .progressBar {
    margin-top: 0.5rem;
    grid-column: 1/3;
    background-color: #626262;
    height: 4px;

    .range-slider__thumb:first-of-type {
      opacity: 0.5;
    }

    .range-slider__thumb,
    .range-slider__range {
      background-color: #354c78;
    }
    .range-slider__thumb {
      width: 16px;
      height: 16px;
    }

    /* Range Slider as a Single Thumb Slider */
    .range-slider__thumb[data-lower] {
      width: 0;
    }
    .range-slider__range {
      border-radius: 4px;
    }
  }

  .buttons {
    justify-self: end;

    button {
      appearance: none;
      border: none;
      background: #354c78;
      cursor: pointer;
      padding: 0.5rem;
      color: white;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }

    .fa-play {
      position: relative;
      left: 2px;
    }
  }
}
