#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  padding: 0.5rem 0 0 0.5rem;

  img {
    height: 100%;
    position: relative;
    z-index: 1;
  }
}

main {
  padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card {
  position: relative;

  .disc {
    width: 100%;
  }

  .albumArt {
    width: 91%;
    position: absolute;
    top: 4.2%;
    left: 50%;
    translate: -50%;
  }

  span {
    position: absolute;
    bottom: 0.65rem;
    right: 0.75rem;
    color: black;
    font-size: 2rem;
    cursor: pointer;
  }
}

.read-the-docs {
  color: #888;
}
