#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
}

header {
  width: 100%;
  height: 2.5rem;
  overflow: hidden;

  img {
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.card {
  position: relative;

  .disc {
    width: 100%;
  }

  .albumArt {
    width: 93%;
    position: absolute;
    top: 4.2%;
    left: 50%;
    translate: -50%;
  }
}

.read-the-docs {
  color: #888;
}
